{% extends "trainerapp/base.html" %}

{% block title %} delete {% endblock %}

{% block content %}
    <h2> delete this trainer? </h2>
    <form method="post">
        {% csrf_token %}
            <div class="form-group">
            <label for ="firstName"> first name </label>
            <input type="text" class="form-control" id="firstName" name="firstName" value={{trainer.firstName}} readonly>
            <br>
            <label for ="lastName"> last name </label>
            <input type="text" class="form-control" id="lastName" name="lastName" value={{trainer.lastName}} readonly>
            <br>
            <label for ="subject"> subject </label>
            <input type="text" class="form-control" id="subject" name="subject" value={{trainer.subject}} readonly>
            <br><br>
            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> delete </button>
            <button value="button" class="btn btn-secondary undo"><a href="/trainer/edit/"> undo </a></button>
        </div>
    </form>
{% endblock %}